<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>ようこそ！Bookersへ</title>
  </head>
  <body>
    <h1>ようこそ！Bookersへ</h1>
    <p>こちらのページでは様々な本のレビューを投稿することができます。</p>
      <%= link_to 'START', books_path %>
  </body>
</html>
